---
import { getTranslations } from "../i18n";

const { t } = getTranslations(Astro.props.locale);
const url = `https://www.google.com/finance/quote/${Astro.props.tradedAs}`;
---

<div class="stock-card">
  <div class="stock-header">
    <h2>{Astro.props.hebrewName}</h2>
    <span class="value">{Astro.props.officialName}</span>
  </div>

  <div class="stock-details">
    <a href={url} class="detail-row">
      <span class="value">{Astro.props.exchange}: {Astro.props.ticker}</span>
    </a>
  </div>

  {
    Astro.props.todaysPrice && (
      <div class="price-section">
        <div class="price">
          {Astro.props.todaysPrice} {Astro.props.currency}
        </div>
        {Astro.props.normalizedToILS && (
          <div class="normalized-price">{Astro.props.normalizedToILS} ILS</div>
        )}
      </div>
    )
  }
</div>
